In [2]:
import datetime
import requests

In [2]:
cities = { "Atlanta": '33.762909,-84.422675',
            "Austin": '30.303936,-97.754355',
            "Boston": '42.331960,-71.020173',
            "Chicago": '41.837551,-87.681844',
            "Providence": '41.8240,71.4128'
        }

In [23]:
start_date = datetime.datetime.now() - datetime.timedelta(days = 30)

In [4]:
start_date = start_date.strftime('%s')

In [24]:
start_date

datetime.datetime(2016, 7, 31, 16, 57, 57, 18832)

In [33]:
start_date + datetime.timedelta(days=1)

datetime.datetime(2016, 8, 1, 16, 57, 57, 18832)

In [6]:
type(start_date)

str

In [7]:
r= requests.get('https://api.forecast.io/forecast/892c4551f3da38b34b8f5d2a4aaeaa26/37.8267,-122.423,%s'% (start_date))

In [8]:
r.json().keys()

[u'hourly',
 u'currently',
 u'longitude',
 u'flags',
 u'daily',
 u'offset',
 u'latitude',
 u'timezone']

In [9]:
r.json()['daily']['data'][0]['temperatureMax']

61.94

In [3]:
import sqlite3 as lite

In [4]:
con = lite.connect('weather.db')

In [5]:
cur = con.cursor()

In [53]:
with con:
    cur.execute("create table city_weather (time int, city text, maxtemp numeric) ")

In [54]:
sql = "insert into city_weather (time,city,maxtemp) values (?,?,?)"

In [55]:
cities.keys()

['Boston', 'Atlanta', 'Austin', 'Providence', 'Chicago']

In [56]:
with con:
    for c in cities.keys():
        date = start_date
        for i in range(30):    
            r = requests.get('https://api.forecast.io/forecast/892c4551f3da38b34b8f5d2a4aaeaa26/%s,%s' % (cities[c],date.strftime('%s')))
            maxt = r.json()['daily']['data'][0]['temperatureMax']
            cur.execute(sql,(int(date.strftime('%s')),c,maxt))
            date = date + datetime.timedelta(days=1)

In [1]:
import pandas as pd

In [8]:
df = pd.read_sql_query("select * from city_weather",con)

In [9]:
df

           time     city  maxtemp
0    1469998677   Boston    73.43
1    1470085077   Boston    72.73
2    1470171477   Boston    71.73
3    1470257877   Boston    76.86
4    1470344277   Boston    79.99
5    1470430677   Boston    86.40
6    1470517077   Boston    87.59
7    1470603477   Boston    86.12
8    1470689877   Boston    80.94
9    1470776277   Boston    81.42
10   1470862677   Boston    78.71
11   1470949077   Boston    93.03
12   1471035477   Boston    95.27
13   1471121877   Boston    81.42
14   1471208277   Boston    93.87
15   1471294677   Boston    87.08
16   1471381077   Boston    79.14
17   1471467477   Boston    80.53
18   1471553877   Boston    84.89
19   1471640277   Boston    79.15
20   1471726677   Boston    80.54
21   1471813077   Boston    77.61
22   1471899477   Boston    76.59
23   1471985877   Boston    77.80
24   1472072277   Boston    84.02
25   1472158677   Boston    84.14
26   1472245077   Boston    84.76
27   1472331477   Boston    80.39
28   1472417877   Boston    76.76
29   1472504277   Boston    84.14
..          ...      ...      ...
120  1469998677  Chicago    77.87
121  1470085077  Chicago    80.20
122  1470171477  Chicago    83.08
123  1470257877  Chicago    86.82
124  1470344277  Chicago    89.36
125  1470430677  Chicago    82.80
126  1470517077  Chicago    79.57
127  1470603477  Chicago    81.46
128  1470689877  Chicago    81.85
129  1470776277  Chicago    85.29
130  1470862677  Chicago    86.05
131  1470949077  Chicago    91.75
132  1471035477  Chicago    84.48
133  1471121877  Chicago    83.30
134  1471208277  Chicago    82.38
135  1471294677  Chicago    76.03
136  1471381077  Chicago    81.62
137  1471467477  Chicago    84.30
138  1471553877  Chicago    83.12
139  1471640277  Chicago    82.25
140  1471726677  Chicago    78.09
141  1471813077  Chicago    74.02
142  1471899477  Chicago    76.97
143  1471985877  Chicago    79.20
144  1472072277  Chicago    82.71
145  1472158677  Chicago    81.13
146  1472245077  Chicago    78.76
147  1472331477  Chicago    81.93
148  1472417877  Chicago    80.34
149  1472504277  Chicago    82.97

[150 rows x 3 columns]

In [11]:
df1 = df[df.city == 'Atlanta']
df2 = df[df.city == 'Austin']
df3 = df[df.city == 'Boston']
df4 = df[df.city == 'Chicago']
df5 = df[df.city == 'Providence']

In [12]:
dff = df1

In [14]:
dff = dff.merge(df2,on='time')
dff = dff.merge(df3,on='time')
dff = dff.merge(df4,on='time')
dff = dff.merge(df5,on='time')

In [15]:
dff

,time,city_x,maxtemp_x,city_y,maxtemp_y,city_x,maxtemp_x,city_y,maxtemp_y,city,maxtemp
0,1469998677,Atlanta,89.87,Austin,95.91,Boston,73.43,Chicago,77.87,Providence,87.10
1,1470085077,Atlanta,88.39,Austin,97.55,Boston,72.73,Chicago,80.20,Providence,88.74
2,1470171477,Atlanta,87.50,Austin,97.51,Boston,71.73,Chicago,83.08,Providence,89.83
3,1470257877,Atlanta,92.21,Austin,97.65,Boston,76.86,Chicago,86.82,Providence,91.83
4,1470344277,Atlanta,90.87,Austin,97.46,Boston,79.99,Chicago,89.36,Providence,91.83
5,1470430677,Atlanta,91.51,Austin,97.51,Boston,86.40,Chicago,82.80,Providence,91.83
6,1470517077,Atlanta,93.66,Austin,98.40,Boston,87.59,Chicago,79.57,Providence,90.02
7,1470603477,Atlanta,91.00,Austin,98.61,Boston,86.12,Chicago,81.46,Providence,93.83
8,1470689877,Atlanta,88.56,Austin,99.29,Boston,80.94,Chicago,81.85,Providence,95.19
9,1470776277,Atlanta,86.72,Austin,100.30,Boston,81.42,Chicago,85.29,Providence,94.93
10,1470862677,Atlanta,86.72,Austin,100.40,Boston,78.71,Chicago,86.05,Providence,95.38
11,1470949077,Atlanta,89.48,Austin,101.33,Boston,93.03,Chicago,91.75,Providence,95.38
12,1471035477,Atlanta,91.10,Austin,102.65,Boston,95.27,Chicago,84.48,Providence,92.02
13,1471121877,Atlanta,90.40,Austin,92.98,Boston,81.42,Chicago,83.30,Providence,93.19
14,1471208277,Atlanta,92.15,Austin,80.93,Boston,93.87,Chicago,82.38,Providence,93.19
15,1471294677,Atlanta,91.06,Austin,75.77,Boston,87.08,Chicago,76.03,Providence,86.38
16,1471381077,Atlanta,90.23,Austin,79.68,Boston,79.14,Chicago,81.62,Providence,71.10
17,1471467477,Atlanta,93.24,Austin,81.20,Boston,80.53,Chicago,84.30,Providence,68.77
18,1471553877,Atlanta,93.62,Austin,84.86,Boston,84.89,Chicago,83.12,Providence,70.79
19,1471640277,Atlanta,88.42,Austin,90.54,Boston,79.15,Chicago,82.25,Providence,72.07
20,1471726677,Atlanta,86.98,Austin,82.50,Boston,80.54,Chicago,78.09,Providence,70.89
21,1471813077,Atlanta,87.53,Austin,79.88,Boston,77.61,Chicago,74.02,Providence,68.83
22,1471899477,Atlanta,87.42,Austin,88.69,Boston,76.59,Chicago,76.97,Providence,59.24
23,1471985877,Atlanta,90.20,Austin,91.47,Boston,77.80,Chicago,79.20,Providence,61.82
24,1472072277,Atlanta,82.81,Austin,92.86,Boston,84.02,Chicago,82.71,Providence,62.57
25,1472158677,Atlanta,92.54,Austin,92.58,Boston,84.14,Chicago,81.13,Providence,63.39
26,1472245077,Atlanta,93.90,Austin,92.18,Boston,84.76,Chicago,78.76,Providence,65.00
27,1472331477,Atlanta,92.01,Austin,90.62,Boston,80.39,Chicago,81.93,Providence,64.81
28,1472417877,Atlanta,91.02,Austin,89.21,Boston,76.76,Chicago,80.34,Providence,65.15
29,1472504277,Atlanta,89.46,Austin,88.24,Boston,84.14,Chicago,82.97,Providence,63.22

In [19]:
analyze = dff.describe()

In [20]:
analyze

               time  maxtemp_x   maxtemp_y  maxtemp_x  maxtemp_y    maxtemp
count  3.000000e+01  30.000000   30.000000  30.000000  30.000000  30.000000
mean   1.471251e+09  90.019333   91.958667  81.901667  81.990000  79.944000
std    7.606145e+05   2.552485    7.492477   5.830107   3.741458  13.460699
min    1.469999e+09  82.810000   75.770000  71.730000  74.020000  59.240000
25%    1.470625e+09  88.397500   88.352500  78.027500  79.727500  66.055000
50%    1.471251e+09  90.315000   92.720000  80.740000  82.090000  86.740000
75%    1.471878e+09  91.885000   97.625000  84.857500  83.255000  91.972500
max    1.472504e+09  93.900000  102.650000  95.270000  91.750000  95.380000